@charset "pt-br";
html {
    scroll-behavior: smooth;
}
#inicio {
    padding-top: 15px; /* Ajuste este valor para o tamanho da sua navbar */
}
body{
    background-color: #0e0e0e  ;
    font-family: sans-serif;


}
nav{
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #0e0e0e;
    border: 1px solid #0e0e0e;
    width: 100%;
    
   
}
nav ul  {
    
    font-size: 15px;
    margin: 0;
    color: aliceblue;
    justify-content: space-around;
    padding: 10px;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    width: 50%;
 
}
nav ul li {
    margin: 0 10px;
  

}
nav ul li a{
    color: aliceblue;  
    text-decoration: none; 
    font-weight: bold;
    
}
nav ul li a:hover{
color: #757474;  
}

#linkd{
    position: absolute;
    top: 35%;
    left: 240px;
    
}
#instal{
    position: absolute;
    top: 42%;
    left: 240px;
}
#gitl{
    
    position: absolute;
    top: 49%;
    left: 240px;
}


    
  


#cv{
    color: #757474;
    font-family: Arial, Helvetica, sans-serif;
}
main > h1{
    color: white;
    margin: 135px 202px 13px 373px;
    font-size: 40px;
   
}
main > p{
    color: #757474;
    margin: 15px 202px 13px 373px;
    width: 500px;
    font-size: 14px;
    padding: 9px 0px 33px 0px;
   
}
main > h2{
    margin: -7px 202px 13px 373px;
    border:1px solid  #575656;
    width: 60px;
    border-radius: 15px;
    font-size: 12px;
    height: 15px;
    color: rgb(134, 134, 134);
    text-align: center;
    padding: 3px 3px 3px 3px;
    display: flex;
    align-items: center;
    justify-content:center ;
    background-color: #2b2b2bab;
}
article > h1{
    color: white;
    text-align: center;
    margin: 90px 3px 80px 3px;
}
#sb:hover{
    background-color: #383838;
}
hr {
    width: 1300px;
    height: 1px;
    margin: 20px auto;
    background-color: #757474;
    border: none;
    position: absolute;
   top:55%;
   margin-left: 26px;
}
article > h2,h3{
    color: #757474;
    font-size: 14px;
    display: inline;
    
  
    
}
article > div{
 display: inline-block;
    border: 1px solid #757474 ;
    width: 300px;
    text-align: center;
    border-radius: 15px;
    margin: 0px 0px 0px 95px;
    background-color: #0000009c;
    
}
div > h2{
    color:  #757474;
    
}
div > ul {
    display: block;
    text-align: left;
    margin: 8px 0px 10px 14px;
    color: #757474;
    columns: 2;  
    gap: 30px;
}

div > ul > li {
    position: relative; 
    margin: 0px 0px 28px 0px;
    list-style-type: none;
}

div > ul > li::before {
    content: "\2713"; /* Símbolo de check */
    color: #757474; /* Cor do check */
    font-weight: bold;
    position: absolute;
    left: -20px; /* Posição à esquerda do texto */
    top: 0; /* Alinha o check com o texto */
 
}

.nivel {
    font-size: 10px;
    color: #888;
    display: block;
    margin-left: 20px; /* Adiciona espaço à esquerda */
    margin-top: 2px; /* Espaçamento entre a tecnologia e o nível */
}
div > ul > li::before {
    content: "\2713"; /* Símbolo de check */
    color: #757474; /* Cor do check */
    font-weight: bold;
    position: absolute;
    left: -20px; /* Posição à esquerda do texto */
    top: 0; /* Alinha o check com o texto */
}
aside > h1{
    color: white;
    text-align: center;
    margin: 90px 3px 80px 3px;

}
   

    
    